@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@layer base {
  html {
    @apply text-white bg-primary;
  }
}

@utility container {
  margin-inline: auto;
  max-width: 1240px;
}

@theme {
  --color-transparent: transparent;
  --color-white: #fff;
  --color-primary: #131316;
  --color-secondary: #3a3a55;
  --color-night: #2f2f37;
  --color-dark: #1c1c21;
  --color-inactive: #8585ad;
  --color-success: #0cc;
  --color-error: #e52b1a;
  --color-accent: #4c4cff;
  --color-purple: #801ab3;
}

@media (prefers-color-scheme: dark) {
}

.text-shadow {
  text-shadow:
    0 0 16px rgba(51, 51, 255, 0.25),
    0 0 8px rgba(51, 51, 255, 0.25),
    0 4px 32px rgba(51, 51, 255, 0.5);
}

* {
  scrollbar-width: thin;
  scrollbar-color: #8585ad #2f2f37;
}

*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

*::-webkit-scrollbar-track {
  background: #2f2f37;
}

*::-webkit-scrollbar-thumb {
  background-color: #8585ad;
  border-radius: 0px;
  border: 0px none #ffffff;
}

::selection {
  background: #801ab3;
}

::-moz-selection {
  background: #801ab3;
}
