@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  --color-transparent: transparent;
  --color-white: #fff;
  --color-primary: #131316;
  --color-secondary: #3a3a55;
  --color-night: #2f2f37;
  --color-dark: #1c1c21;
  --color-inactive: #8585ad;
  --color-success: #0cc;
  --color-error: #e52b1a;
  --color-accent: #4c4cff;
  --color-purple: #801ab3;
}

@media (prefers-color-scheme: dark) {
}

body {
  background: var(--background);
  color: var(--foreground);
}
